
/* digital-backgroun:black=#08000B,white = #F7FFFF, purple=#37286B, orange=#81420F
abstract-city: lavender=#9DADD1, lightblue=#71C2D7, medblue=60BBCE;
*/
body {
	font-family: 'Megrim', cursive;
	background-image: url('../images/digital-background.jpg'); 
 	background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    text-align: center;
    overflow: auto;
}
@font-face {
	font-family: StarJedi;
	src: url('../fonts/StarJedi.ttf') format('truetype');
}
@font-face {	
	font-family: Starjhol;
	src: url('../fonts/Starjhol.ttf') format('truetype');
}
.navbar-brand{
	font-family: 'StarJedi','Megrim', cursive;
	font-size: 22px;
}
.nav-right{
	font-family: 'Megrim', cursive;
	font-size: 16px;
}
